/*///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////

  1. Site level
    1.1 CSS Reset
    1.2 Typography
		1.3 Layout
	2. Page specific
		2.1 Home page
			2.1.1 Typography

/////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////

1 Site level

///////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////
1.1 CSS Reset
///////////////////////////////////////////////////////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*///////////////////////////////////////////////////////////////////
1.2 Typography
///////////////////////////////////////////////////////////////////*/

body{
  font-size: 15px;
  line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Palanquin', sans-serif;
	font-weight: 400;
}
h1{
  font-size: 2rem;
  line-height: 1.9;
}
h2{
  font-size: 2rem;
  line-height: 1.7;
}
h3{
  font-size: 1.5rem;
  line-height: 1.5;
}
h4, h5, h6{
  font-size: 1.3rem;
  line-height: 1.3;
}
ol, ul{
	list-style-position: inside;
}
ul{
  list-style: inside;
}
ol{
	list-style-type: decimal;
}
li{
	margin-left: 1rem;
}
.de-emphasis{
	display: block;
	font-size: 0.75em;
}

/*///////////////////////////////////////////////////////////////////
1.3 Layout
///////////////////////////////////////////////////////////////////*/
.pd{
	padding: 0 0.5rem;
}
div#main{
	margin-bottom: 3rem;
}
.flex-parent-rw{
	display: flex;
	-webkit-flex-flow: row wrap;
}
.flex-parent-clm{
	display: flex;
	flex-flow: column;
}
.flex-child-mdl {
	margin: 0;
	padding: 0;
	flex-grow: 2;
	text-align: center;
}
section .content-block{
	height: 8rem;
	padding: 0.5rem;
	background: grey;
  color: white;
}
.horizontal-list{
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
}
.button{
	display: inline-block;
	padding: 0.5rem;
	border: 1px solid black;
	text-decoration: none;
}
.button-lg{
	padding: 1rem;
	margin: auto;
}
footer{
	background-color: black;
	width: 100%;
	position: fixed;
	bottom: 0;
}
footer nav ul{
	display: inline-block;
	padding: 0.5rem;
}
footer nav ul li a{
	color: white;
}

/*///////////////////////////////////////////////////////////////////

2. Page specific

///////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////
2.1 Home page
///////////////////////////////////////////////////////////////////*/

/*///////	2.1.1 Typography 			///////////////////////////////////*/

section#portfolio h3, section#dev_logs h3{
	font-size: 1rem;
}
section#hero p{
	font-size: 1.25rem;
	text-align: center;
}

/*///////	2.1.2 Layout 			///////////////////////////////////*/

header#masthead{
	height: 100vh;
	text-align: center;
	justify-content: center;
}
section{
	margin-bottom: 2rem;
}
section .container{
	margin: 1rem 0;
}
